body {

  background-color: white;
  margin: 20px;
}

input {
  width: 250px;
  padding: 5px;
  border: 1px solid white;
}

button {
  padding: 6px 10px;
  background-color: blue;
  color: white;
  border: none;
}

.expense-box {
  border: 1px solid white;
  padding: 8px;
  margin-top: 5px;
}

.delete-btn {

  color: white;
  padding: 3px 6px;

}

